<%- include('header') %>

<section class="background">
    <img src="/images/research.png" class="r-image" alt="Research Image">
</section>

<section class="info-container">
    <div class="info">
        <div class="info-child">
            <h1>Universal truth</h1>
            <span class="span">It's time for a great comeback</span>
            <p class="text">Explore Indian Mystery and Harsh Truth</p>
        <!-- </div> -->
        <button class="btn-primary">Explore Mystery</button>
    </div>
</section>



        <!--   section-1 compare vedic scince and mordern scince -->
        <!--    section 1 -->
        <!--  intro card -->


        <div class="introduction">
          <div class="introcard">
          <h4>This is camparison between vedic </h4>
      </div>
  </div>

<h2>Morden scince and Ancient science Campare</h2>

<section class="campare ">
  <div class="campare-wraper">

      <div class="campare-slide " >
          <a href="/c">
          <div class="com">
              <div class="com-image">
                  <img src="https://elibrary.thearyasamaj.org/attachment/view/ZUxpYnJhcnk%3DMTI1/person" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
      <div class="campare-slide " >
          <a href="/allpage_detail/aaryabhatt.html" >
          <div class="com">
              <div class="com-image">
                  <img src="/image/Designer (7).png" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
      <div class="campare-slide " >
          <a href="/allpage_detail/aaryabhatt.html" >
          <div class="com">
              <div class="com-image">
                  <img src="/image/Designer.png" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
      <div class="campare-slide " >
          <a href="/allpage_detail/aaryabhatt.html" >
          <div class="com">
              <div class="com-image">
                  <img src="/image/Designer (7).png" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
      <div class="campare-slide " >
          <a href="/allpage_detail/aaryabhatt.html" >
          <div class="com">
              <div class="com-image">
                  <img src="/image/Designer (7).png" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
      <div class="campare-slide " >
          <a href="/allpage_detail/aaryabhatt.html" >
          <div class="com">
              <div class="com-image">
                  <img src="/image/Designer (7).png" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
      <div class="campare-slide " >
          <a href="/allpage_detail/aaryabhatt.html" >
          <div class="com">
              <div class="com-image">
                  <img src="/image/Designer (8).png" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
      <div class="campare-slide " >
          <a href="/allpage_detail/aaryabhatt.html" >
          <div class="com">
              <div class="com-image">
                  <img src="/image/Designer (9).png" alt="">
              </div>
              <div class="com_content">
                  <span class="com_title">Maharshi panini</span>
                  <p class="com_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
              </div>
          </div>
      </a>
      </div>
  </div>
</div>

</section>

<div class="button-m">

  <span class="btn-icon" id="left-botton">&#129128;</span>
  <span class="btn-icon" id="right-botton">&#129130;</span>
</div>




<div class="introduction-2">
  <div class="introcard-2">
      <h4>Indian Ancient Scintist and there Achivment  </h4>
  </div>

</div>
<!--   section-2   Ancient scintist------->
<h2>Ancient Scintist</h2>
<section class="h-swiper ">
  <div class="h-swiper-wrapper ">


          <div class="h-swiper-slide " >
              <a href="{% url 'card_view' card_id=1%}" id=1>
              <div class="card">
                  <div class="card_image">
                      <img src="/public/image/valmiki.png" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </a>
          </div>
          <div class="h-swiper-slide ">
              <a href="{% url 'card_view' card_id=1%}" id=1>
              <div class="card">
                  <div class="card_image">
                      <img src="/image/kanad-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
  </a>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/nagar-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/varahmihir-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/varahmihir-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/kanad-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/profile.png" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/ARYABHATA 1.png" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/mahrshi sushrup.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="https://replit.com/@ParthPatel308/Universal-Truth#ancient%20image.png" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/kanad-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/valmiki.png" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/varahmihir-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/budhanay.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>
          <div class="h-swiper-slide ">
              <div class="card">
                  <div class="card_image">
                      <img src="/image/kanad-1.jpg" alt="">
                  </div>
                  <div class="card_content">
                      <span class="card_title">Maharshi panini</span>
                      <p class="card_text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                  </div>
              </div>
          </div>

      </div>

      <div class="button-s">

          <!-- <button id="left-btn"></button> -->

          <span class="btn-icon" id="left-btn">&#129128;</span>
          <span class="btn-icon" id="right-btn">&#129130;</span>
      </div>


</section>





                  <!--  Section-3 Ancient book -->

            <!--   Indian Ancient book section -->


            <h3>Ancient Indian book</h3>
            <section class="swiper mySwiper">
                <i class="fa fa-angle-left" style="font-size:24px"></i>
                <div class="swiper-wrapper">

                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/book-1.jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Web Designer</span>
                            <span class="cord__name">Vanessa Martinez</span>
                            <p class="cord__text">Lorem ipsum dolor sit,
                            </p>

                        </div>
                    </div>

                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/Book-2(2).jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Ui Designer</span>
                            <span class="cord__name">Sarah Bowen</span>
                            <p class="cord__text">Lorem ipsum dolor sit</p>
                            <!-- <button class="card__btn">View More</button> -->
                        </div>
                    </div>
                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/book3.jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Ui Designer</span>
                            <span class="cord__name">Sarah Bowen</span>
                            <p class="cord__text">Lorem ipsum dolor sit, </p>
                            <!-- <button class="card__btn">View More</button> -->
                        </div>
                    </div>
                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/book4.jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Ui Designer</span>
                            <span class="cord__name">Sarah Bowen</span>
                            <p class="cord__text">Lorem ipsum dolor sit,</p>
                            <!-- <button class="card__btn">View More</button> -->
                        </div>
                    </div>
                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/book-5.jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Ui Designer</span>
                            <span class="cord__name">Sarah Bowen</span>
                            <p class="cord__text">Lorem ipsum dolor sit, 
                            </p>
                            <!-- <button class="card__btn">View More</button> -->
                        </div>
                    </div>
                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/book-5.jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Ui Designer</span>
                            <span class="cord__name">Sarah Bowen</span>
                            <p class="cord__text">Lorem ipsum dolor sit,
                            </p>

                        </div>
                    </div>
                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/book-5.jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Ui Designer</span>
                            <span class="cord__name">Sarah Bowen</span>
                            <p class="cord__text">Lorem ipsum dolor sit,

                        </div>
                    </div>


                    <div class="cord swiper-slide">
                        <div class="cord__image">
                            <img src="/image/book-5.jpg" alt="card image">
                        </div>

                        <div class="cord__content">
                            <span class="cord__title">Ui Designer</span>
                            <span class="cord__name">Sarah Bowen</span>
                            <p class="cord__text">Lorem ipsum dolor sit,
                            <!-- <button class="card__btn">View More</button> -->
                        </div>
                    </div>



                </div>
                <div class="button-s">



                <span class="book-btn" id="leftenern-btn">&#129128;</span>

                <span class="book-btn" id="rightist-btn">&#129130;</span>
            </div>


            </section>
      
  

<%- include('footer') %>
