<div class="introduction">
    <div class="introcard">
    <h4>This is camparison between vedic </h4>
</div>
</div>

<h2>Morden scince and Ancient science Campare</h2>

<section class="campare ">
<div class="campare-wraper">

<div class="campare-slide " >
    <a href="/c">
    <div class="com">
        <div class="com-image">
            <img src="https://elibrary.thearyasamaj.org/attachment/view/ZUxpYnJhcnk%3DMTI1/person" alt="">
        </div>
        <div class="com_content">
            <span class="com_title">Maharshi panini</span>
            <p class="com_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
    </div>
</a>
</div>