<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Universal truth</title>
  <!-- Add your stylesheet link here -->
  <!-- <link rel="stylesheet" href=".."> -->
  <!-- <script src="/js/cardslider.js" defer></script>  -->

  <style>
    :root {
      /** Background colors */
      --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
      --bg-carolina-blue: hsla(199, 89%, 49%, 1);
      --bg-prussian-blue: hsla(216, 33%, 20%, 1);
      --bg-oxford-blue: hsla(222, 44%, 13%, 1);
      --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);

      /** Text colors */
      --text-white: rgb(255, 255, 255);
      --text-alice-blue: hsla(216, 100%, 95%, 1);
      --text-columbia-blue: hsla(199, 69%, 84%, 1);
      --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
      --text-carolina-blue: hsla(199, 89%, 49%, 1);
      --text-shadow-blue: hsla(217, 24%, 59%, 1);
      --text-slate-gray: hsla(217, 17%, 48%, 1);

      /** Gradient colors */
      --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
      --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
      --gradient-3: linear-gradient(0deg, #000d1a, transparent);


      --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
      --border-prussian-blue: hsla(216, 33%, 20%, 1);
      --border-white: hsl(0, 0%, 100%);
      --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);



      /** Font family */
      --fontFamily-noto_sans: 'Noto Sans', sans-serif;


      /* * BOX SHADOW  * */

      --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
      --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);



      /*   radius */
      --radius-6: 6px;
      --radius-8: 8px;
      --radius-16: 16px;
      --radius-48: 48px;
      --radius-circle: 50%;
      --radius-pill: 200px;
    }


    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {

      background-color: var(--bg-oxford-blue-2);
      color: var(--text-shadow-blue);
      font-family: var(--fontFamily-noto_sans);
      background: cover;
      line-height: var(--lineHeight-4);
      overflow-x: hidden;
      /* Prevent horizontal scrollbar */

      /* box-sizing: border-box; */

    }

    /****  Header container ******/

    .header {
      position: fixed;
      width: 100%;
      height: 100px;
      top: 0;
      left: 0;
      justify-content: space-between;
      align-items: center;
      z-index: 4;
      align-items: center;
      background-color: var(--bg-oxford-blue);
      display: flex;

    }

    /* login */

    .Login {
      /* display: flex; */
      margin-right: 80px;
      /* width: 2px; */
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
    }

    .navbar-list {
      display: flex;
      justify-content: space-between;
      padding-left: 300px;
    }

    li {
      list-style: none;
      padding: 10px;
    }

    li a {
      font-size: 18px;
      text-decoration: none;
      color: var(--bg-wild-blue-yonder);
    }

    li a:hover {
      color: var(--bg-carolina-blue);
    }


    /*============== frontend view ================== */

    .background {
      /* position: fixed; */
      top: 0;
      left: 0;
      /* width: 100%; */
      /* height: 100%; */
      margin: 170px;
      margin-left: 500px;
      padding-left: 310px;
      /* z-index: -1; Place it behind other content */
    }


    .r-image {
      width: 400px;
      height: 400px;
    }



    .bg-image {
      margin-top: 100px;
      margin-left: 400px;
      justify-content: center;
      align-items: center;
      position: fixed;
    }

    .info-container {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
    }

    .info {
      text-align: center;
    }


    .info-child {
      padding: 10px;
      /* line-height: 30px; */
      justify-content: space-around;

    }

    h1 {
      font-size: 50px;
      background-image: var(--gradient-1);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      /* margin: -10px; */

    }

    .span {
      padding: 10px;
      line-height: 10px;
      margin-top: 60px;


    }


    /* search input  */


    .search {
      position: relative;
      display: inline-block;
    }

    #searchInput {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-left: 0px;
      background-color: var(--bg-oxford-blue-2);
      border-style: var(--);
    }

    .searchcontainer {
      margin-right: 200px;

    }



    .search {
      position: relative;
      width: 300px;

    }

    .search input[type="text"] {
      padding-right: 30px;

    }




    .serchicon {
      width: 15px !important;
      height: 15px;
      /* margin: 100px; */
      transform: translate(-30px);
      cursor: pointer;



    }

    @media (max-width: 768px) {
      .navbar-list {
        flex-direction: row;
        /* font-size: 0.5rem; */
        /* gap: px; */
        padding-left: 0;
      }

      .searchcontainer {
        /* margin-top: 10px; */
      }

      .header {
        /* flex-direction: column; */
        align-items: center;
      }

      li {
        list-style: none;
        margin-left: 25px;
      }

      li a {
        font-size: 15px;
        text-decoration: none;
        color: var(--bg-wild-blue-yonder);
      }

      .navbar-list {
        /* display: flex; */
        justify-content: space-between;
        padding-left: 3px;
        margin-left: 3px;
      }


      .Login {
        /* margin-inline-end: auto; */
        margin-left: 8px;
        font-size: 15px;
        /* text-align: center; */
      }

    }

    /*  First page info container */

    @media (max-width:768px) {

      .info-container {

        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
      }

      h1 {
        font-size: 25px;
        background-image: var(--gradient-1);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        /* margin: -10px; */

      }

      .span {
        padding: 10px;
        line-height: 7px;
        margin-top: 90px;


      }
    }


    /* Section one comparison */
    .introcard {
      background-color: var(--border-prussian-blue);
      color: white;
      padding: 10px;
      border-radius: 10px;
      width: 270px;
      height: 301px;
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      transform: translateY(129%);
      transition: all 0.3s ease-in-out;
    }

    /*  introduction for scientist */
    .introduction-2 {

      background-color: var(--border-prussian-blue);
      color: white;
      padding: 10px;
      border-radius: 10px;
      width: 270px;
      height: 300px;
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      transform: translateY(120%);

    }

    @media (max-width: 1024px) {}



    /* Compariosn section */

    @media (max-width: 768px) {
      .introcard {
        background-color: var(--border-prussian-blue);
        color: white;
        padding: 10px;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        margin: 10px 20px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        transform: translateY(129%);
        transition: all 0.3s ease-in-out;
      }

      .introduction-2 {

        background-color: var(--border-prussian-blue);
        color: white;
        padding: 10px;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        margin: 10px 20px;
        margin-left: 80px;

        display: flex;
        justify-content: center;
        transform: translateY(120%);

      }

    }

    /* =============== section 1 camparison card */
    @media only screen and (min-width: 1024px) and (max-width: 1440px) {
      .compare-wrapper {
        height: 400px;
        margin-right: 50px;
        display: flex;
        align-items: center;
        transition: transform 0.5s ease;
        margin-left: 320px;
        overflow-x: scroll;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;

      }

      .h-swiper {
        width: 75%;
        height: 100%;
        overflow: hidden;
        margin-left: 300px;

      }
    }

    /* Responsive styles */
    @media (max-width: 768px) {

      .com {
        width: 100%;
        margin: 10px 0;
        height: auto;
      }

      .com-image {
        height: auto;
        margin-bottom: 20px;
      }

      .com_content {
        padding: 0 10px;
      }

      .campare {
        width: 100%;
        margin-left: 0;
      }

    }

    @media (max-width: 480px) {
      .com {
        width: 100%;
        margin: 10px 0;
        height: auto;
      }

      .com-image {
        height: auto;
        margin-bottom: 15px;
      }

      .com_title {
        font-size: 0.9rem;
      }

      .com_text {
        font-size: 0.9rem;
      }
    }


    /* For mobile devices */
    @media only screen and (max-width: 600px) {
      .compare-wrapper {
        margin-top: 310px;
        /* Added margin-top to push content down */
        height: auto;
        /* Auto height so that it adapts to content */
        overflow-x: auto;
        /* Enable horizontal scroll if needed */
        justify-content: center;
      }

      .com {
        width: 100%;
        /* Make the cards take full width */
        height: auto;
        /* Let the height be determined by content */
        margin: 10px 0;
        /* Adjust margins for spacing between cards and added margin-top */
      }

      .com-image {
        width: 100%;
        /* Image should also take full width */
        height: auto;
        /* Maintain aspect ratio */
      }

      .com-content {
        text-align: center;
      }

      .campare {
        width: 100%;
        /* margin-left: 0;
    margin-top: 30px; /* Increase margin-top for the compare section */
        overflow-x: auto;
      }

      .campare-swiper {
        display: flex;
        width: auto;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling for mobile */
      }

      /* Hide scrollbars for mobile */
      .campare-swiper::-webkit-scrollbar {
        display: none;
      }
    }


    img {
      width: 0px;
    }




    /* =========================================================== */




    /************  card section-2  ********************/
    /* Mobile view ke liye styling */
    @media (max-width: 768px) {

      .h-swiper {
        width: 100%;
        /* height: auto; */
        /* overflow: hidden; */
        margin-top: 400px;
        /* padding: 0 15px; */
      }

      .h-swiper-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        /* Scroll horizontal */
        cursor: pointer;
        scroll-snap-type: x mandatory;
        /* Swipe snapping */
        gap: 10px;
        /* Cards ke beech gap */
        padding: 0 10px;
        /* Padding for mobile */
      }

      .h-swiper-wrapper::-webkit-scrollbar {
        display: none;
        /* Scrollbar ko hide rakha */
      }

      .card {
        width: 100px;
        /* Mobile par width ko reduce kiya */
        /* max-width: 13em; */
        /* Max width ko maintain rakha */
        height: 19rem;
        background-color: var(--bg-oxford-blue);
        border-radius: 1em;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: 10px 5px;
        /* Mobile ke liye margin adjust kiya */
        flex: none;
        scroll-snap-align: start;
        /* Snap to start on scroll */
      }

      .card_image {
        width: 00px;
        /* Card image ko responsive banaya */
        height: auto;
        /* Image height auto, jisse adjust ho jaye */
      }

      .card_image img {
        width: 50%;
        height: 50%;
        border-radius: 1rem;
        object-fit: cover;
      }

      .card_content {
        text-align: center;
      }

      .card_title {
        font-size: 1.2rem;
        /* Font size mobile ke liye adjust kiya */
        font-weight: 500;
      }

      .card_text {
        text-align: center;
        font-size: 0.9rem;
        /* Text size mobile par adjust kiya */
      }
    }






    .btn-icon:hover {
      background-color: var(--bg-carolina-blue);
    }

    .h-swiper {
      /* width: 75%; */
      /* height: 100%; */
      overflow: hidden;
      /* margin-left: 300px; */

    }


    .h-swiper-wrapper {
      /* width: auto; */
      display: flex;
      /* align-items: center; */
      overflow-x: scroll;
      cursor: pointer;
    }

    .h-swiper-wrapper::-webkit-scrollbar {
      display: none;
    }

    .card {
      width: 13em;
      height: 19rem;
      background-color: var(--bg-oxford-blue);
      border-radius: 1em;
      /* box-shadow: 0 0 2em #d9d7e633; */
      display: flex;
      /* align-items: center; */
      justify-content: flex-end;
      flex-direction: column;
      margin: 10px 10px;
      /* margin-left: -10px; */
      flex: none;

    }

    .card:hover {
      transition: transform 0.5s;
      transform: translateY(-10px);

    }

    .card_image {
      width: 14.5rem;
      height: 16rem;
      object-fit: cover;
    }


    .card_image img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      object-fit: cover;
    }

    .card_content {
      text-align: center;
      list-style: none;
      text-decoration: none;


    }

    .card_title {
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none;

    }

    .card_text {
      text-align: center;
      font-size: 1rem;


    }

    .monk {
      justify-content: center;
      margin-left: 300px;
      margin: 10px;

    }


    .button-s {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 400px;
      gap: 20px;
      margin: 20px;
      margin-right: 300px;
    }

    /*  Book botton */

    .button-B {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 400px;
      gap: 20px;
      margin-top: 450px;
      margin-right: 800px;
      /* margin-left: 300px; */
    }

    .book-btn:hover {
      background-color: var(--bg-carolina-blue);
    }


    /* button-m   */
    .button-m {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 400px;
      gap: 20px;
      margin: 20px;
      margin-right: 300px;
    }



    .btn-icon {

      cursor: pointer;
      /* color: azure; */
      width: 30px;
      height: 30px;
      place-items: center;
      justify-content: center;
      display: flex;
      background: var(--bg-prussian-blue);
      border-radius: var(--radius-circle);
      color: white;
      /* margin-right: 30px; */

    }

    .btn-icon:hover {
      background-color: var(--bg-carolina-blue);
    }

    /*   */

    /* =============== Anciet book card section ============== */

    @media (max-width: 1200px) {
    .swiper {
        height: 350px;
    }

    .cord {
        width: 180px;
        height: 270px;
    }

    .cord__image img {
        width: 180px;
        height: 220px;
    }
}

@media (max-width: 768px) {
    .swiper {
        height: 200px;
        width: 200px;
        /* padding: 6px; */
    }

    .cord {
        width: 160px;
        height: 240px;
    }

    .cord__image img {
        width: 160px;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .swiper {
        height: 60px;
        padding: 4px;
    }

    .cord {
        width: 140px;
        height: 20px;
    }

    .cord__image img {
        width: 10px;
        height: 10px;
    }

    

}

.Anci-b {
    padding: 20px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.backg {
    background-color: var(--bg-carolina-blue);
}

    .swiper-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 700px;

    }

    .swiper-wrapper::-webkit-scrollbar {
      display: none;
      overflow-x: scroll;

    }

    .swiper {

      justify-content: flex-end;
      background-color: var(--border-prussian-blue);
      color: white;
      padding: 8px;
      border-radius: 10px;
      width: 1200px;
      height: 400px;
      /* margin: 10px; */
      margin-left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      /* width: 1300px; */
      /* bottom: 0px; */
      /* transform: translateY(129%); */
      /* overflow-x: scroll; */

    }



    /* Individual card */


    .cord {
      width: 200px;
      height: 280px;
      background: hsla(222, 44%, 13%, 1);
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 0 10px;
      margin-top: 5px;
      overflow: hidden;
      margin-top: 50px;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      /* Prevents flex items from shrinking */


    }

    /* Card image */
    .cord__image img {
 
      width: 200px;
      height: 240px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
      /* Rounded corners for the top */
    }

    /* Card content */


    /* .cord__content {
      font-size: 1.5rem;
      font-weight: 500;
      color: #333;
      margin-bottom: 5px;
    } */

    /* .cord__name {
      font-size: 0.5rem;
      color: #666;
      margin-bottom: 10px;
    } */

    .cord__text {
      /* font-size: 1rem; */
      color: #888;
      /* line-height: 1.5; */
      /* margin-bottom: 20px; */
    }

    .Anci-b {
      padding: 20px 0;
      /* Adjust as needed */
      text-align: center;
    }


    a {
      text-decoration: none;
      color: #007bff;
      /* Adjust the color as needed */
      transition: color 0.3s ease;
    }

    a:hover {
      color: #0056b3;
      /* Adjust the hover color as needed */
    }


    .backg {
      background-color: var(--bg-carolina-blue);
    }


    /*   introduction card */


    /*  second introductio */


    .introduction-2 {

      background-color: var(--border-prussian-blue);
      color: white;
      padding: 10px;
      border-radius: 10px;
      width: 270px;
      height: 300px;
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      transform: translateY(120%);

    }




    .compare-wrapper {
      height: 400px;
      /* margin-right: 50px; */
      display: flex;
      align-items: center;
      transition: transform 0.5s ease;
      /* margin-left: 300px; */
      overflow-x: scroll;
      scrollbar-width: none;

    }

    .com {
      width: 15em;
      height: 19rem;
      background-color: var(--bg-oxford-blue);
      border-radius: 1em;
      display: flex;
      /* align-items: center; */
      justify-content: flex-end;
      flex-direction: column;
      margin: 10px 20px;
      margin-bottom: 20px;
      /* margin-left: -10px; */
      flex: none;
      padding: 0;

    }

    .com:hover {
      transition: transform 0.5s;
      transform: translateY(-10px);

    }

    .com-image {
      height: 16rem;
      object-fit: cover;
      margin-bottom: 26px;

    }


    .com-image img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      /* margin-bottom: 100px; */
      object-fit: cover;
    }

    .com_content {
      text-align: center;
      list-style: none;
      text-decoration: none;


    }

    .com_title {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;

    }

    .com_text {
      text-align: center;
      font-size: 1rem;


    }

    .campare {
      width: 75%;
      height: 100%;
      overflow: hidden;
      overflow-x: scroll;

      margin-left: 330px;

    }


    .campare-swiper {
      width: auto;
      display: flex;
      align-items: center;
      overflow-x: scroll;
      cursor: pointer;

    }

    .campare-wraper::-webkit-scrollbar {
      /* display: none; */
      overflow-x: scroll;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }




    .fa {
      background-color: red;
    }

    btn-primary {

      padding: 8px 16px;
      /* border-radius: var(--radius-6); */
      background-image: var(--gradient-2);
      background-size: 200%;
      background-position: left;
      /* color: var(--white); */
      font-size: var(--fontSize-6);
      max-width: max-content;
      display: flex;
      align-items: center;
      gap: 3px;
      /* transition: var(--transition-1); */
      margin: 50px;
      display: flex;
      justify-content: center;
      /* margin: -150px auto 200px;  */
      margin-left: 100px;
      cursor: pointer;
      color: var(--text-white);
      border-radius: 10px;

    }

    .btn:is(:hover, :focus-visible) {
      background-position: right;
    }





    .book-btn {
      cursor: pointer;
      /* color: azure; */
      width: 30px;
      height: 30px;
      place-items: center;
      /* justify-content: center; */
      display: flex;
      background: var(--bg-prussian-blue);
      border-radius: var(--radius-circle);
      color: white;
      /* margin-right: 30px; */

      justify-content: space-around;

    }
  </style>
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="/public/images/image1.png" width="30px" alt="logo">
        </diutv>

        <ul class="navbar-list">
          <li>
            <a href="#home" class="navbar-link hover-1">Home</a>
          </li>
          <li>
            <a href="#biography" class="navbar-link hover-1">Biography</a>
          </li>
          <!-- <li>
          <a href="#Research" class="navbar-link hover-1">Research</a>
        </li> -->
          <li>
            <a href="#AncientBook" class="navbar-link hover-1"> Book</a>
          </li>
          <!-- <li>
          <a href="#aboutUs" class="navbar-link hover-1">About Us</a>
        </li> -->
        </ul>


      </div>


      <!--------    Serch -----  -->

      <!-- <div class="searchcontainer">
      <div class="search">
        <input type="text" id="searchInput" placeholder="Search">
        <img src="https://res.cloudinary.com/warrior90/image/upload/v1720525424/reaserch_2_zkgr0h.png" width="0px" class="serchicon">

      </div>
      <div id="result"></div>
    </div> -->

      <div class="Login">
        <a href="/api/users/register/<%= user._id %>" class="login-link">
          <h4>sign in</h4>
        </a>
      </div>

  </header>

  </style>
  </head>

</html>